html {
    --yellow: #f0b736;
    --dark: #0A1C01;
    --gray: #707070;
    --white: #fff;
}

.grid {
    display: grid;
    grid-template-columns: [fill-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end];
}

.grid > * {
    grid-column: main;
}

header{
    font-family: 'lobster';
    background: var(--yellow);
    padding: 5rem 0;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-bottom: 1 rem;
    font-family: 'lobster';
}

menu{
    font-family: 'open sans 500';
    font-size: 23px;
    background-color: var(--dark);
    color:var(--white);
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    
}
 

ul {
    
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0.5rem;
}

figure {
    margin-top: 30px;
    max-width: 600px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    letter-spacing: 1px;
    font-size: 18px;
}

.sample {
    margin-bottom: 20px;

}

@media screen and (min-width: 800px) {
    .two-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }
}

h3{
    background-color: var(--yellow);
    margin-top: 30px;
    margin-bottom: 30px;
    width: 150px;
    text-align: center;
    font-size: 23px;
    padding: 10px 0;  
}



h4{
    color:var(--dark);
    font-size: 18px;
}

.imgtwo {
    max-width: 100%;
    margin-bottom: 25px;
}

table.one {
    font-size: 15px;
    margin-top: 20px;
    max-width: 100%;
    text-align: left;
    line-height: 27px;
    color:var(--gray);
    margin-bottom: 20px;
  }

thead {
    width: 40px;
    font-size: 18px;
    text-align: left;
    color:var(--dark);
    margin-bottom: 160px;
}

.imgthree {
    max-width: 100%;
    margin-bottom: 25px;
}

h5 {
    font-family: 'open sans 500';
    color:var(--gray);
    font-size: 15px;
}

h5.top {
    margin-top: 20px;
}

h6 {
    font-family: 'open sans 400';
    color:var(--gray);
    margin-bottom: 10px;
}

.hours {
    font-size: 18px;
    margin-top: 20px;
}

footer {
    font-family: 'lobster';
    color: var(--yellow);
    background-color: var(--dark);
    text-align: center;
    padding: 50px 0;
    margin-top: 50px;

}
.fa-brands {
    color: #fff;
    padding: 10px 2px;
    
}
